**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.gitignore
**/.gitattributes
**/docker-compose*.yml
**/Dockerfile*.dockerfile
**/*.md
**/*.txt
**/LICENSE
**/appsettings.*.json
**/appsettings.json
**/.env
**/certs
**/www
**/nginx.conf
**/docker-compose.yml
**/.env.example
**/tests
**/*.Test
**/*.Tests
